body{
  background-color: #F3E5D8;
  width: 1440px;
}
.container{
  width: 50%;
  height: 1600px;
  background-color: white;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.picture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 70px;
  padding-top: 50px;
  border-radius: 20px;
}
.heading-1{
  padding-left: 40px;
  font-family: "young serif";
}
.p1{
  font-family: "Outfit";
  font-size: 16px;
  font-weight: 400;
  padding-left: 40px;
}
.second{
  padding: 0;
  width: 90%;
  height: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(330, 100%, 98%);
  border-radius: 12px;
  line-height: 1.5;
}
.p2{
  padding-top: 20px;
  padding-left: 20px;
  color:  hsl(332, 51%, 32%);
  font-family: "young serif";
  font-size: 20px;
  

}
.p3{
  font-family: "young serif";
  font-size: 24px;
  color: hsl(14, 45%, 36%);
  padding-left: 40px;
}
.ingredients, .Instructions{
   margin-left: 20px;
   font-family: "Outfit";
   color: hsl(14, 45%, 36%);
}
.ingredients-lists, .instructions-lists{
  padding-left: 15px;
  line-height: 1.5;
}
.inst-steps{
  font-weight: bold;
  color: hsl(24, 5%, 18%);
}
.table{
  font-family: "outfit";
  font-size: 16px;
  color: hsl(24, 5%, 18%);
  padding-left: 40px;
  line-height: 1.5;
}
.nutrition-list{
  font-family: "outfit";
  font-size: 16px;
  color: hsl(24, 5%, 18%);
  padding-left: 70px;
  line-height: 1.5;
}
.nutrient-1{
  color: hsl(14, 45%, 36%);
  font-weight: bold;
  padding-left: 250px;
}
.nutrient-2{
  color: hsl(14, 45%, 36%);
  font-weight: bold;
  padding-left: 265px;
}
.nutrient-3{
  color: hsl(14, 45%, 36%);
  font-weight: bold;
  padding-left: 255px;
}
.nutrient-4{
  color: hsl(14, 45%, 36%);
  font-weight: bold;
  padding-left: 280px;
}
.lines{
  color:  hsl(24, 5%, 18%) -30%;
  width: 90%;
}
